
body {

  background-color: #ffffff;
  }
  

  .form-group label {
    font-size: 1.2rem;
    font-weight: bold;
  }
  
  .form-control:focus {
    border-color: #ffc107;
    box-shadow: none;
  }
  
  .btn-warning {
    background-color: #ffc107;
    border-color: #ffc107;
  }
  
  .btn-warning:hover {
    background-color: #ffa000;
    border-color: #ffa000;
  }
  
  
  .table thead th {
    background-color: #ffc107;
    color: #fff;
    font-weight: bold;
    font-size: 1.2rem;
  }
  
  .table tbody td {
    vertical-align: middle;
  }
  
  .table-striped tbody tr:nth-of-type(odd) {
    background-color: #f8f9fa;
  }
  
  .table-striped tbody tr:hover {
    background-color: #eee;
  }
  
 
  
